.gitattributes export-ignore
250901_MothNote_Note.png export-ignore
250901_MothNote_Weather.png export-ignore
250912_MothNote_Weather.png export-ignore
251112_MothNote_Habit_Tracker.png export-ignore
